header {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: auto;
}

ul {
  padding: 10px;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

body {
  font-family: 'Didot' ;
}

 h1 {
   font-family: 'Didot';
   font-weight: bold ;
   font-size: 150px;
   margin: 20px;
   text-align: center;
}

 h2 {
   font-family: 'Didot';
   text-transform: upper-case;
   font-size: 75px;
   margin: 100px;
   text-align: center;
}

p {
  margin: 150px 150px;
  line-height: 1.5;
  font-size: 20px;
  clear: left;
}
